<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class = 'main-page'>
    {% include 'header.html' %}
    <div class="gif-container">
        <img src="{{ url_for('static', filename='images/Tradie_Digging.gif') }}" alt="GIF">
        <div class="overlay-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mollis mi at lacinia euismod. Sed lacinia mauris nec lacus accumsan pulvinar. Sed lacinia mauris nec lacus accumsan pulvinar.</div>
        <div class="button-container">
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Create Account/ Sign In</a>
            {% endif %}
        </div>
    </div>
    {% if not current_user.is_anonymous %}
    <section class="image-section">
        {% for job in jobs %}
        <div class="image-container" onclick="onContainerClick()">
            <p>Job: {{ job.job }}</p>
            <p>Postcode: {{ job.postcode }}</p>
            <p>Trade Required: {{ job.tradeRequired }}</p>
            <a href="{{ url_for('view_request', request_id=job.id) }}">View Job</a>
        </div>
        {% endfor %}
    </div>
    </section>
    {% endif %}
    <section class="credits-section">
        <h2>Credits</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id feugiat purus. Sed ut facilisis lacus.

            Integer id feugiat purus. Integer mollis mi at lacinia euismod. Suspendisse nec efficitur lectus. Sed lacinia mauris nec lacus accumsan pulvinar. Nullam varius aliquam feugiat.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id feugiat purus. Sed ut facilisis lacus.

            Integer id feugiat purus. Integer mollis mi at lacinia euismod. Suspendisse nec efficitur lectus. Sed lacinia mauris nec lacus accumsan pulvinar. Nullam varius aliquam feugiat.

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id feugiat purus. Sed ut facilisis lacus.

            Integer     id feugiat purus. Integer mollis mi at lacinia euismod. Suspendisse nec efficitur lectus. Sed lacinia mauris nec lacus accumsan pulvinar. Nullam varius aliquam feugiat.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id feugiat purus. Sed ut facilisis lacus.

            Integer id feugiat purus. Integer mollis mi at lacinia euismod. Suspendisse nec efficitur lectus. Sed lacinia mauris nec lacus accumsan pulvinar. Nullam varius aliquam feugiat.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id feugiat purus. Sed ut facilisis lacus.

            Integer id feugiat purus. Integer mollis mi at lacinia euismod. Suspendisse nec efficitur lectus. Sed lacinia mauris nec lacus accumsan pulvinar. Nullam varius aliquam feugiat.

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id feugiat purus. Sed ut facilisis lacus.

            Integer     id feugiat purus. Integer mollis mi at lacinia euismod. Suspendisse nec efficitur lectus. Sed lacinia mauris nec lacus accumsan pulvinar. Nullam varius aliquam feugiat.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id feugiat purus. Sed ut facilisis lacus.

            Integer id feugiat purus. Integer mollis mi at lacinia euismod. Suspendisse nec efficitur lectus. Sed lacinia mauris nec lacus accumsan pulvinar. Nullam varius aliquam feugiat.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id feugiat purus. Sed ut facilisis lacus.

            Integer id feugiat purus. Integer mollis mi at lacinia euismod. Suspendisse nec efficitur lectus. Sed lacinia mauris nec lacus accumsan pulvinar. Nullam varius aliquam feugiat.

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id feugiat purus. Sed ut facilisis lacus.

            Integer     id feugiat purus. Integer mollis mi at lacinia euismod. Suspendisse nec efficitur lectus. Sed lacinia mauris nec lacus accumsan pulvinar. Nullam varius aliquam feugiat.
        </p>
    
        </section>
    {% block content %}{% endblock %}
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>