<!DOCTYPE html>
<html>
<head>
    <title>Job Request History</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body style="background-color: rgba(119, 22, 229, 0.639)">
    {% include 'header.html' %}
    <div class="request-container">
        <h1>Job Request History</h1>
        {% for job_request in requests %}
        <div class="job-request">
            <p>Request {{ job_request.id }} <a href="{{ url_for('main.view_request', request_id=job_request.id)}}">{{ job_request.job }}</a></p>
        
        {% endfor %}
        <p>To return home <a href="{{ url_for('main.home') }}">click here!</a></p>
    </div>
    </div>
</body>
</html>