body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background-image: url('images/construction.jpg');
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.75);
}

h1 {
  color: white;
  margin-bottom: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.centered-content {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.left-column {
  flex: 1;
  margin-right: 10px; /* Add margin for spacing */
}

.job-description-container {
  flex: 1;
  margin-right: 10px; /* Add margin for spacing */
}

.add-images-container {
  flex: 1;
}

.image-drop-zone {
  border: 2px dotted #ccc;
  padding: 10px;
}

.left-column {
  flex: 1;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Add vertical gap between form groups */
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px; /* Add vertical gap between label and input/select */
}

.form-group label {
  margin-bottom: 5px;
  font-size: 18px;
}

.form-group input[type="text"],
.form-group select {
  width: 70%;
  max-width: 300px;
  padding: 8px;
  font-size: 18px;
}

.job-description-container {
  flex: 1;
  margin-right: 10px; /* Adjust margin as needed */
}

.left-column {
  flex: 1;
  margin-left: 10px; /* Adjust margin as needed */
}

textarea {
  resize: none;
  overflow-y: auto;
  margin-bottom: 10px;
  font-size: 18px;
  padding: 8px;
  width: calc(85% - 16px);
  height: 300px;
}

.add-images-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Align content vertically in the center */
  border: 2px dotted #ccc;
  padding: 10px;
  margin: 10px; /* Add margin for spacing */
}

#createPostContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 20px;
}

#createPostButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: 2px solid #000;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#createPostButton:hover {
  background-color: #0056b3;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  width: 100%;
}

.logo-container img {
  width: 100px;
}

.signin a {
  color: #fff;
  text-decoration: none;
}

.signin a:hover {
  text-decoration: underline;
}

.dotted-border {
  border: 2px dotted #ccc;
  padding: 10px;
}
