body { 
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}

header { 
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    padding: 20px 2%; 
    background-image: url('images/placeholderbanner.png'); 
    background-size: cover; 
    background-position: center;
}

.title-container {
    margin-right: auto; /* Pushes the title container to the left */
    margin-left: 580px; /* Adjust the margin-left value as needed */
    justify-content: center;
    align-items: center;
    text-align: center;
}
#logo.scrolled { 
    transform: scale(0.5) translateY(-70%); 
    transition: height 0.3s ease-in-out; 
}

.logo-container { 
    margin-left: 0;
    margin-top: -10px; 
    width: 5%; 
    align-self: flex-start; 
    
}

.logo-container img { 
    width: 100%; 
}

.signin,
.user-profile {
    margin-top: -10px;
    margin-left: auto; /* This will move the sign-in container to the right */
    margin-right: 90px; /* Adjust the margin-right value as needed */
    align-self: flex-start;
}
.image-section {
    display: flex;
    justify-content: space-between;
}

.image-container {
    text-align: center;
    flex: 1;
}

.image-container img {
    width: 100%;
    height: auto;
}

.credits-section {
    padding: 20px;
    text-align: center;
}

header.scrolled {
    height: 10px; /* Adjust this value as needed */
}

.user-profile {
    position: relative;
    display: inline-block;
}

.profile-icon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {background-color: #f1f1f1}

.gif-container {
    position: relative;
    width: 100%;
}
.gif-container img {
    width: 100%;
    height: auto;
}
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: center;
}

.button-container {
    position: absolute;
    bottom: 100px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%); /* This centers the button horizontally */
}

.button-container a {
    display: inline-block;
    padding: 10px 20px; /* Adjust as needed */
    background-color: transparent; /* Adjust as needed */
    color: #000000; /* Adjust as needed */
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-box {
    border: 1px solid #000;
    padding: 20px;
    width: 300px;
}

.error {
    color: red;
    font-weight: bold;
}